/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.hello {
  @apply absolute inset-0 bg-white text-center h-full flex flex-col justify-center;
}

.title {
  @apply text-lg leading-6 font-medium text-gray-900;
}

html,
body,
#root {
  @apply h-full;
  @apply overflow-hidden;
}

.root {
  @apply h-full;
}

.icon {
  @apply w-6 h-6;
}

.icon--small {
  @apply w-5 h-5;
}

.icon--gray {
  @apply text-gray-400;
}

.account-avatar--text {
  @apply h-8 w-8 rounded-full flex flex-col justify-center content-center items-center bg-blue-400;
}

.thread-avatar--text {
  @apply h-8 w-8 rounded-full flex flex-col justify-center content-center items-center bg-gray-400;
}

.avatar {
  @apply relative h-8 w-8 rounded-full flex flex-col justify-center content-center items-center;
}

.avatar .badge {
  font-size: x-small;
  @apply absolute;
  @apply -top-1/4 -right-1/4;
}

.avatar .badge svg {
  @apply w-2.5 h-2.5;
}

.account-avatar--text p,
.thread-avatar--text p {
  @apply text-white text-sm uppercase;
}

.tread-participants-container {
  @apply flex flex-row space-x-1;
}

.thread-participants {
  @apply flex flex-row space-x-2;
}

.thread-participant {
  @apply inline-flex items-center text-gray-800;
}

.messages-screen-main .content {
  @apply min-w-0 flex-1 h-full flex flex-col overflow-y-auto;
}

.thread {
  @apply h-full pl-3;
  @apply relative;
}

/* https://codepen.io/AllThingsSmitty/pen/jommGQ */
.messages {
  background-color: #fff;
  display: flex;
  font-size: 1.25rem;
  margin: 0 auto 0;
  padding: 0.5rem 1.5rem;
  @apply flex-col-reverse;
  @apply h-full w-full;
  @apply overflow-y-scroll;
  @apply absolute bottom-2;
}

.message {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
  margin: 0.5rem 0;
  width: fit-content;
}

.message::before,
.message::after {
  bottom: -0.1rem;
  content: '';
  height: 1rem;
  position: absolute;
}

.message.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}

.message.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.message.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.message[class^='from-'] {
  margin: 0.5rem 0;
  width: fit-content;
}

.message.from-me ~ .message.from-me {
  margin: 0.25rem 0 0;
}

.message.from-me ~ .message.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

.message.from-me ~ .message.from-me:last-child {
  margin-bottom: 0.5rem;
}

.message.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

.message.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.message.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.message[class^='from-'].emoji {
  background: none;
  font-size: 2.5rem;
}

.message[class^='from-'].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

.composer {
  @apply p-2;
}

.composer .input {
  @apply block w-full;
  @apply sm:text-sm;
  @apply border-gray-300;
  @apply rounded-full;
  @apply focus:outline-none;
  @apply focus:border-gray-300;
}

.screen-container {
  @apply min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8;
}

.screen-header {
  @apply sm:mx-auto sm:w-full sm:max-w-md;
}

.screen-body {
  @apply mt-8 sm:mx-auto sm:w-full sm:max-w-md;
}

.screen-header-image {
  @apply mx-auto h-12 w-auto;
}

.screen-header-title {
  @apply mt-6 text-center text-3xl font-extrabold text-gray-900;
}

.screen-header-description {
  @apply mt-2 text-center text-sm text-gray-600;
}

.link {
  @apply font-medium text-indigo-600 hover:text-indigo-500;
}

.link__small {
  @apply text-sm;
}

.form-container {
  @apply py-8 px-4 sm:px-10;
}

.form {
  @apply space-y-6;
}

.label {
  @apply block text-sm font-medium text-gray-700;
}

fieldset {
  @apply space-y-1;
}

.react-multi-email {
  @apply bg-transparent !important;
  @apply border-none !important;
}

.react-multi-email.focused {
  @apply bg-transparent !important;
}

.input, .react-multi-email input {
  @apply appearance-none;
  @apply bg-transparent;
  @apply block w-full;
  @apply px-3 py-2;
  @apply border border-gray-300;
  @apply rounded-md placeholder-gray-400 ;
  @apply focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
  @apply sm:text-sm;
  @apply placeholder:text-gray-400;
}

.button {
  @apply flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.button__full {
  @apply w-full;
}

.messages-screen-container {
  @apply h-full flex flex-col;
}

.messages-screen-header {
  @apply flex-shrink-0 relative h-16 bg-white flex items-center;
}

.messages-screen-header-logo-container {
  @apply inset-y-0 left-0 static flex-shrink-0;
}

.messages-screen-header-logo-container a,
.messages-screen-header-logo-container div {
  @apply flex items-center justify-center h-16 bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 w-20;
}

.messages-screen-header-logo-container a img {
  @apply h-8 w-auto;
}

.messages-screen-header .menu-button-container {
  @apply absolute inset-y-0 right-0 pr-4 flex items-center sm:pr-6 md:hidden;
}

.messages-screen-header .menu-button-container button {
  @apply -mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600;
}

.messages-screen-header .menu-button-container button span {
  @apply sr-only;
}

.messages-screen-header .menu-button-container button .icon {
  @apply block h-6 w-6;
}

.messages-screen-header .desktop-nav-container {
  @apply min-w-0 flex-1 flex items-center justify-between;
  @apply h-16;
  @apply bg-gray-50;
  @apply border-b border-l border-zinc-100;
}

.messages-screen-header .desktop-nav-container .left {
  @apply min-w-0 flex-1;
}

.messages-screen-header .desktop-nav-container .left:first-child {
  @apply max-w-2xl relative text-gray-400 focus-within:text-gray-500;
}

.messages-screen-header .desktop-nav-container .left:first-child label {
  @apply sr-only;
}

.messages-screen-header .desktop-nav-container .left:first-child input {
  @apply block w-full border-transparent placeholder-gray-500 focus:border-transparent sm:text-sm focus:ring-0;
}

.messages-screen-header
  .desktop-nav-container
  .left:first-child
  .icon-container {
  @apply absolute inset-y-0 left-0 flex items-center justify-center pl-2;
}

.messages-screen-header
  .desktop-nav-container
  .left:first-child
  .icon-container
  .icon {
  @apply h-5 w-5;
}

.messages-screen-header .desktop-nav-container .right {
  @apply ml-10 pr-4 flex-shrink-0 flex items-center space-x-10;
}

.messages-screen-header .desktop-nav-container .right nav {
  @apply flex space-x-10;
}

.messages-screen-header .desktop-nav-container .right nav a {
  @apply text-sm font-medium text-gray-900;
}

.messages-screen-header .desktop-nav-container .right .actions {
  @apply flex items-center space-x-8;
}

.messages-screen-header .desktop-nav-container .right .actions span {
  @apply inline-flex;
}

.messages-screen-header .desktop-nav-container .right .actions span a {
  @apply -mx-1 bg-white p-1 rounded-full text-gray-400 hover:text-gray-500;
}

.messages-screen-header .desktop-nav-container .right .actions span a span {
  @apply sr-only;
}

.messages-screen-header .desktop-nav-container .right .actions span a .icon {
  @apply h-6 w-6;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container {
  @apply relative inline-block text-left;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-button {
  @apply rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-button
  span {
  @apply sr-only;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-button
  img {
  @apply h-8 w-8 rounded-full;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .enter {
  @apply transition ease-out duration-100;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .enterFrom {
  @apply transform opacity-0 scale-95;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .enterTo {
  @apply transform opacity-100 scale-100;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .leave {
  @apply transition ease-in duration-75;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .leaveFrom {
  @apply transform opacity-100 scale-100;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .leaveTo {
  @apply transform opacity-0 scale-95;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-items {
  @apply origin-top-right absolute z-30 right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-items
  .menu-items-container {
  @apply py-1;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-items
  .menu-item {
  @apply block px-4 py-2 text-sm text-gray-700;
}

.messages-screen-header
  .desktop-nav-container
  .right
  .actions
  .menu-button-container
  .menu-items
  .menu-item.active {
  @apply bg-gray-100;
}

.messages-screen-sidebar {
  @apply block flex-shrink-0 bg-gray-100 overflow-y-auto;
}

.messages-screen-sidebar .sidebar-items-container {
  @apply relative w-20 flex flex-col p-3 space-y-3;
}

.messages-screen-sidebar .sidebar-items-container .sidebar-item {
  @apply flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg;
  @apply relative;
}

.messages-screen-sidebar .sidebar-items-container .sidebar-item.active {
  @apply bg-blue-400 text-white;
}

.messages-screen-sidebar .sidebar-items-container .sidebar-item.unread::before {
  content: '•';
  @apply text-blue-400;
  @apply absolute;
  @apply left-0;
}

.messages-screen-sidebar .sidebar-items-container .sidebar-item:not(.active) {
  @apply text-gray-400 hover:bg-gray-200;
}

.messages-screen-sidebar
  .sidebar-items-container
  .sidebar-item
  span:not(.badge) {
  @apply sr-only;
}

.messages-screen-sidebar .sidebar-items-container .sidebar-item .icon {
  @apply h-6 w-6;
}

.messages-screen-bottom {
  @apply min-h-0 flex-1 flex overflow-hidden;
}

.messages-screen-main {
  @apply min-w-0 flex-1 border-t border-gray-200 lg:flex;
}
